obj
bin
deploy
*.csproj.user
*.suo
*.cache
*.nupkg
~$*
*~
*ReSharper*
*.swp
*.testsettings
TestResults/*
*.dbmdl
Releases/2*
*.pidb
*.docstates
*.orig
test-results
apply_config.bat
NDependOut
*.dotCover
*_mm_cache.bin
.DS_Store
*.bak
*NCrunch*
src/Zudio/packages
nohup.out
src/Zudio/Zudio.CloudService/csx
src/Zudio/Workers/ZudioWorkers/csx
src/Zudio/Zudio.Web/js/zudio.js
src/Zudio/Zudio.Web/app/**/*.js
src/Zudio/Zudio.Web/app/*.js
src/Zudio/Zudio.sln.DotSettings.user
src/Zudio.7z
src/Zudio/Zudio.Web/.sass-cache/
src/Zudio/Zudio.Web/css/images/sprite-*.png
src/Zudio/Workers/ZudioWorkers/ZudioWorkers.ccproj.user
spikes
